<div class="page-header"><h1>Upload Photo</h1></div>

+ <!-- Step #2: Submit the form -->
+<%= form_for @photo, url: "/profiles/barber" do |f| %>

  <div class="form-group">
    <%= f.label :haircut %>
    <%= f.text_field :haircut, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>

<br>

<div class="page-header"><h1>Photos</h1></div>

<div>
<% @all_photos.each do |eachPhoto| %>
<br>
<span>
<%= link_to image_tag(eachPhoto.image.url(:thumb), class: 'media-object'), eachPhoto.image.url, target: '_blank' %>
</span>
<% end %>
</div>
