
<div class="container-fluid well span6">
  
  <div class= "row">
    <div class= "col-sm-2">
    </div>
    <div class= "col-sm-8">
    </div>
    <div class= "col-sm-2">
      <button><%= link_to "Log Out", "/logout", :method => :delete %></button>
    </div>
  </div>

  <div class="row-fluid">
    <div class= "col-sm-4">
        <div class="span2" >
        <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
        </div>
        
        <div class="span8">
            <h3><%= @name %></h3>
            <h6>Email: <%= @email %></h6>
            <h6><a href="#">More... </a></h6>
        </div>
        
       <!--  <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                    <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                </ul>
            </div>
        </div> -->
      </div>

      <div class= "col-sm-8">
       <center><h2> SCHEDULE</h2></center>
          <div class= "row">
    
            <div class= "col-sm-2">
              <center><h4> Tuesday</h4></center>             
                  <% @tuesday_array.each do |element| %>
                    <div class= "tue-slot active-day"><center><h6><%= element.time %></h6></center></div>
                  <% end %>              
            </div>

            <div class= "col-sm-2">
              <center><h4> Wednesday</h4></center>               
                  <% @wednesday_array.each do |element| %>
                    <div class= "wed-slot active-day"><center><h6><%= element.time %></h6></center></div>
                  <% end %>                 
            </div>

            <div class= "col-sm-2">
              <center><h4> Thursday</h4></center>                
                  <% @thursday_array.each do |element| %>
                    <div class= "thur-slot active-day"><center><h6><%= element.time %></h6></center></div>
                  <% end %>                 
            </div>

            <div class= "col-sm-2">
              <center><h4> Friday</h4></center>               
                <% @friday_array.each do |element| %>
                  <div class= "fri-slot active-day"><center><h6><%= element.time %></h6></center></div>
                <% end %>           
            </div>

            <div class= "col-sm-2">
              <center><h4> Saturday</h4> </center>                  
                    <% @saturday_array.each do |element| %>
                      <div class= "sat-slot active-day"><center><h6><%= element.time %></h6></center></div>
                    <% end %>
            </div>

            <div class= "col-sm-2">
              <center><h4> Sunday</h4></center>                     
                  <% @sunday_array.each do |element| %>
                     <div class= "sun-slot active-day"><center><h6><%= element.time %></h6></center></div>
                  <% end %>
             </div>
            </div>
      </div>
    </div>

            <div class= "row">
              <div class= "col-sm-4">
                <div class="page-header"><h2>Upload Photo</h2></div>

                 <!-- Step #2: Submit the form -->
                <%= form_for @photo, url: "/profiles/barber" do |f| %>


                  <div class="form-group">
                    <%= f.label :haircut %>
                    <%= f.text_field :haircut, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :image %>
                    <%= f.file_field :image, class: 'form-control'%>
                  </div>

                  <%= f.submit 'Upload', class: 'btn btn-primary' %>
                <% end %>
              </div>

              <div class= "col-sm-8">
                <center>
                  <% @all_photos.each do |eachPhoto| %>
                  <br>
                  <span>
                  <%= link_to image_tag(eachPhoto.image.url(:thumb), class: 'media-object'), eachPhoto.image.url, target: '_blank' %>
                  </span>
                  <span><%= link_to "Remove", "/profiles/#{eachPhoto.id}", class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
                    
                  </span>
                   <span><%= eachPhoto.id %></span>
                  <% end %>
                </center>
              </div>
            </div>
  </div>
