
<h1>Sign up!</h1>

<%= form_for :user, url: '/registration' do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Username: <%= f.text_field :username %>
  Email: <%= f.text_field :email %>
  Role: <%= f.text_field :role %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>


 <!--  <select name="user[role]">
      <option value="user">User</option>
     <option value="barber">Barber</option>
     </select> -->

  <%= f.submit "Submit" %>

<% end %>

<br>

<h1>Login</h1>

<%= form_tag '/login' do %>
	Email: <%= text_field_tag :email %>
	Password: <%= password_field_tag :password %>
	<%= submit_tag "Log In" %>
<% end %>

<br>

<%= link_to "All profiles", "/users" %>
